<nb-layout>
    <nb-layout-header fixed>
      <h1>Pocket Hero</h1>
    </nb-layout-header>
  
    <nb-sidebar size="big">
      <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>
  
    <nb-layout-column>
        <div class="image-and-text">
            <div class="image-container">
                <img src="https://images2.alphacoders.com/110/thumb-1920-1107088.jpg" alt="Description of image">
                <div class="image-text">Únete ya y empieza a diseñar a <br> tu próximo gran protagonista</div>
            </div>
            <div class="text-under-image">
                <h1>¿Qué es Pocket Hero?</h1>
                <p>Pocket Hero es una herramienta de creación de fichas de personaje para Dungeons and Dragons, 5ta edición que permite
                    a sus usuarios crear y almacenar fichas de personaje de una forma rápida y proficiente.</p>
                <p>Consulta, modifica y mejora tus personajes desde cualquier lugar, incluso desde la comodidad de tu móvil, tableta, portátil e incluso en papel. Comparte tus personajes
                    con la comunidad y únete hoy a la multitud de partidas que te esperan para unirte.</p>
                <p>Comienza hoy mismo a jugar y encontrar a gente afín a ti para unirse a la aventura.</p>
            </div>
        </div>
        <div class="image-container">
            <img src="https://images.squarespace-cdn.com/content/v1/625964627d9818640fa5b8cb/01acd42e-a904-482e-9e2e-9f0dcf7489a9/Crit+Academy+%7C+Campaign+Ideas+DND+%7C+DND+Weapons" alt="Description of image">
        </div>
        <div class="text-under-image">
            <h1>Mantén a tus enemigos cerca y a tus jugadores más</h1>
            <p>Dirigir una partida nunca ha sido tan fácil. Mejora tu estátus de Jugador a Director y conecta con los miembros de tu campaña y sus personajes en todo momento.</p>
            <p>Consulta las fichas de tus jugadores, sus habilidades, objetos y hechizos en todo momento. Mantén un registro de sus puntos de vida, puntos de hechizo y puntos de acción en todo momento.</p>
        </div>
        <div class="image-container">
            <img src="https://preview.redd.it/art-dnd-group-v0-u9w8mh5mlqja1.png?width=640&crop=smart&auto=webp&s=ac34df448cde40ffac7b90464bcbd2d55d2454f6" alt="Description of image">
        </div>

        <div class="text-under-image">
            <h1>¿Qué esperas para unirte?</h1>
            <p>Regístrate hoy mismo y comienza a disfrutar de todas las ventajas que Pocket Hero tiene para ti. Crea tu primer personaje, comparte tus creaciones con la comunidad y únete a partidas de todo el mundo.</p>
            <p>¡No esperes más! ¡Únete hoy a Pocket Hero!</p>
        </div>
        <div class="image-container">
            <img src="https://wallpapercave.com/wp/wp12696378.jpg" alt="Description of image">
        </div>
        <div class="text-under-image">
        <div class="social-media">
            <h1>Encuéntranos en redes sociales</h1>
            <p>Mantente actualizado en todas las novedades de Pocket Hero</p>

            <div class="social-icons">
              <a href="your-facebook-url" target="_blank">
                <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/discord-white-icon.png" alt="Facebook">
              </a>
              <a href="your-twitter-url" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/X_logo_2023_%28white%29.png" alt="Twitter">
              </a>
              <a href="your-instagram-url" target="_blank">
                <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/instagram-white-icon.png" alt="Instagram">
              </a>
            </div>
          </div>
        </div>
    </nb-layout-column>

  
    <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
