<nb-layout>
    <nb-layout-header fixed>
        <h1>Pocket Hero</h1>
      </nb-layout-header>
      <nb-sidebar size="medium">
        <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
      <nb-layout-column>
        <div class="image-container">
            <img src="https://images2.alphacoders.com/110/thumb-1920-1107088.jpg" alt="Description of image">
            <div class="image-text">Preguntas frecuentes</div>
            <div class="faq-item">
                <h2>¿Es gratis?</h2>
                <p>Pocket Hero fue diseñado empleado una metodología de código abierto. Todo el contenido presente en la aplicación, se corresponde con el contenido gratuito de la OGL (Open Gaming License).

                    
                </p>
            </div>
        </div>
      </nb-layout-column>
</nb-layout>