<nb-layout>
    <nb-layout-header fixed>
        <h1>Pocket Hero</h1>
      </nb-layout-header>
      <nb-sidebar size="medium">
        <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
      <nb-layout-column>
        <div class="image-container">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0545aac2-256b-4c9e-907a-1b1c8ef246de/dgc6fom-25f6e2f0-3261-4b8b-9b7e-c6c542c3a4b0.png/v1/fill/w_1280,h_718,q_80,strp/fantasy_desktop_wallpaper_0474_by_grimwalds_ai_fantasy_dgc6fom-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzE4IiwicGF0aCI6IlwvZlwvMDU0NWFhYzItMjU2Yi00YzllLTkwN2EtMWIxYzhlZjI0NmRlXC9kZ2M2Zm9tLTI1ZjZlMmYwLTMyNjEtNGI4Yi05YjdlLWM2YzU0MmMzYTRiMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.aJqBLtrv40lnuHVvfwndsLomEfUffUjq6Pi0lRUGwBg" alt="Description of image">
            <div class="image-text">Preguntas frecuentes</div>
            <div class="faq-item">
                <h2>¿Es gratis?</h2><br>
                <p>Pocket Hero fue diseñado empleado una metodología de código abierto. Todo el contenido presente en la aplicación, se corresponde con el contenido gratuito de la OGL (Open Gaming License).
                  La OGL, o <strong>Open Game License</strong> (Licencia de Juego Abierto), es una licencia utilizada en el ámbito de los juegos de rol, particularmente en los juegos de rol de mesa (TTRPGs, por sus siglas en inglés). Fue desarrollada por Wizards of the Coast y permite a los creadores de contenido utilizar ciertos elementos de sus juegos, como reglas, mecánicas y texto, en sus propios proyectos. La OGL se asocia principalmente con Dungeons & Dragons (D&D), el juego de rol más conocido de Wizards of the Coast.
                </p>
            </div>
            <div class="faq-item">
              <h2>¿Cuántos personajes/campañas puedo almacenar por cuenta?</h2><br>
              <p>Puedes almacenar hasta 5 personajes y cinco campañas. Si el desarrollo de la aplicación resulta bueno, seguramente se considere ampliar este límite de acuerdo a los recursos disponibles.
              Actualmente nuestros servidores están extremadamente limitados, pero esperamos añadirlo en un futuro.</p>
          </div>
          <div class="faq-item">
            <h2>¿Qué nos hace distintos?</h2><br>
            <p>Pocket Hero es la primera red social hispana de rol. Nuestras traducciones son fidedignas y nuestro desarrollo está 
              muy orientado hacia facilitar la experiencia de uso de la aplicación lo más posible con el fin de garantizar una adecuada experiencia de usuario. Nuestras traducciones
              son originales, nuestro contenido se mantiene en el margen de lo legal y hacemos todo lo que podemos para complacer a la comunidad y hacer bien nuestro trabajo (¡y nos encanta hacerlo!).
            </p>
        </div>
        <div class="faq-item">
          <h2>Quiero proponer una funcionalidad nueva para Pocket Hero </h2><br>
          <p>Excelente, envíanos un correo a <strong>info&#64;pockethero.es</strong> con el asunto "Propuesta de funcionalidad" y cuéntanos qué te gustaría ver en la aplicación. 
            Nos encanta recibir feedback y estamos siempre abiertos a nuevas ideas. ¡Gracias por tu interés en mejorar Pocket Hero!
          </p>
      </div>
        </div>
      </nb-layout-column>
</nb-layout>